{{#each posts as |post|}}
<section class="card m-auto my-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="fw-bolder h4"><a href="./post/{{id}}">{{title}}</a></h2>
        <p class="card-text">Posted by {{User.username}} on {{format_date dateCreated}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{body}}
        </p>
    </div>
</section>
{{/each}}