{{#if posts}}
    {{#each posts as |post|}}
    <section class="card m-auto my-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="fw-bolder h4"><a href="/post/{{id}}">{{title}}</a></h2>
            <p class="card-text">Posted by <span class="fw-bolder">{{post.User.username}}</span> on {{format_date dateCreated}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{body}}
            </p>
        </div>
    </section>
    {{/each}}
{{else}}
    <section class="card m-auto my-2">
        <div class="card-body">
            <p class="card-text">
                You have not created any posts yet.
            </p>
        </div>
    </section>
{{/if}}
<section class="card m-auto my-2">
    <div class="card-header">
        <h2 class="fw-bolder h4">Create a New Post</h2>
    </div>
    <div class="card-body">
        <form class="form new-post-form">
            <div class="mb-2">
                <label for="post-title">Title</label>
                <input align="middle" class="form-control" type="text" id="post-title" />
            </div>
            <div class="mb-2">
                <label class="align-top" for="post-body">Content</label>
                <textarea class="form-control" id="post-body"></textarea>
            </div>
            <div class="p-2 d-flex justify-content-center my-1">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/newpost.js"></script>

