<section class="card m-auto my-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="fw-bolder h4">{{post.title}}</h2>
        <p class="card-text">Posted by {{post.User.username}} on {{format_date post.dateCreated}} </p>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{post.body}}
        </p>
        <div class="card-body my-2 d-flex justify-content-between align-items-center">
            {{#each post.Comments as |Comment|}}
            <p class="card-text">
                {{body}}
            </p>
            {{/each}}
        </div>
    </div>
</section>